@charset "utf-8";

@font-face {
    font-family: "PoetsenOne-Regular";

    src: url("../fonts/PoetsenOne-Regular.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/PoetsenOne-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jalnan";

    src: url("../fonts/Jalnan.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

a,
a:link {
    text-decoration: none;
    color: black;
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 0;
    background: white;
}



.contents_wrap {
    min-width: 1200px;
    position: fixed;
    content: '';
    top: 4rem;
    right: 2.5rem;
    left: 2.5rem;
    bottom: 0;
    overflow: hidden;
}

#main {
    margin: 0 auto;
    width: calc(100vw - 5rem);
    height: calc(100vh - 5rem);
    background: url('../images/background2.png')no-repeat 0 0 /cover;
}

header #gnb {
    text-align: center;
    height: 4rem;
    width: 1200px;
    line-height: 4rem;
    margin: 0 auto;
}

header #gnb li {
    font-family: "PoetsenOne-Regular";
    font-size: 20px;
    width: 25%;
    float: left;
    text-transform: uppercase;

    transition: 0.35s;
}

header #gnb li:hover {
    background-color: #1f2343;
}

header #gnb li:hover a {
    display: block;
    color: white !important;
}


.ground {
    position: absolute;
    background: url('../images/ground.png') no-repeat 0 0 /cover;
    min-width: calc(1920px - 5rem);
    height: calc(557px - 5rem);
    bottom: 0;

}

.mat {
    position: absolute;
    background: url('../images/mat.png') no-repeat 0 0 /cover;
    width: calc(1331px - 5rem);
    height: calc(431px - 5rem);
    bottom: 0;
}


.cat img {
    width: calc(148px - 2.5rem);
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 22%
}

.bim img {
    position: absolute;
    z-index: 2;
    width: calc(325px - 2.5rem);
    bottom: 2%;
    left: 30%;

}

.light img {
    position: absolute;
    width: calc(719px - 2.5rem);
    z-index: 1;
    bottom: 35%;
    left: 36%;

}

.intro {
    position: absolute;
    font-family: "Jalnan";
    font-size: 5rem;
    text-align: right;
    left: 57%;
    top: 20%;
    letter-spacing: -5px;
}

.intro h3 {
    text-shadow: -1px -1px 0px #888,
        -2px -2px 0px #777;
}

.intro h3 span {
    background: white;
    color: #1f2343;
    padding: 0.125rem;
    box-sizing: border-box;
}

.intro h2 {
    color: white;
    font-size: 6rem;
    margin-top: 0.5rem;
    text-shadow: 1px 1px 0 #ccc,
        2px 2px 0 #c9c9c9,
        3px 3px 0 #bbb,
        4px 4px 0 #b9b9b9,
        5px 5px 0 #aaa,
        6px 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        1px 1px 3px rgba(0, 0, 0, .3),
        3px 3px 5px rgba(0, 0, 0, .2),
        5px 5px 10px rgba(0, 0, 0, .25),
        10px 10px 10px rgba(0, 0, 0, .2),
        20px 20px 20px rgba(0, 0, 0, .15);
}

#second {
    margin: 0 auto;
    width: calc(100vw - 5rem);
    height: calc(100vh - 5rem);
    background: url('../images/background2.png')no-repeat 0 0 /cover;
}

.click_bottom {
    position: fixed;
    width: 15px;
    height: 15px;
    bottom: 4rem;
    left: 50%;
    z-index: 9999px;
}

.arrow {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    transition: 0.3s;


}

.arrow:nth-child(1) {
    animation: click_bottom 1.3s 0.3s linear infinite;
}

.arrow:nth-child(2) {
    animation: click_bottom 1.3s 0s linear infinite;
    margin-top: -15px;
}

@keyframes click_bottom {
    0% {
        transform: translateY(0) rotate(45deg);
        opacity: 0;
    }

    50% {
        transform: translateY(50%) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100%) rotate(45deg);
        opacity: 0;
    }
}