@charset "utf-8";

body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 0;
    background: white;
}

.tri_left {
    width: 0;
    height: 0;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid black;
    border-bottom: 15px solid transparent;
    right: calc(100% + 1rem);
    top: 50%;
    transform: translate(-50%);
}

.tri_right {
    width: 0;
    height: 0;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid black;
    border-right: 15p solid transparent;
    border-bottom: 15px solid transparent;
    right: 0.25rem;
    top: 50%;
    transform: translate(-50%);
}

#main {
    position: fixed;
    content: '';
    top: 2.5rem;
    right: 2.5rem;
    left: 2.5rem;
    bottom: 2.5rem;
    background: url('../images/background2.png');
    overflow: hidden;
}

.ground {
    position: absolute;
    background: url('../images/ground.png') no-repeat 0 0 /cover;
    min-width: calc(1920px - 5rem);
    height: calc(557px - 5rem);
    bottom: 0;

}

.mat {
    position: absolute;
    background: url('../images/mat.png') no-repeat 0 0 /cover;
    width: calc(1331px - 5rem);
    height: calc(431px - 5rem);
    bottom: 0;
}

.cat img {
    width: calc(148px - 2.5rem);
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 25%
}

.bim img {
    position: absolute;
    z-index: 1;
    width: calc(325px - 2.5rem);
    z-index: 1;
    bottom: 5%;
    left: 35%;

}